@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.h1, .h2, .h3, .h4, .h5, .h6{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 0;
line-height: 0;
}


.pokelogo{
  width: 40%;
  margin-bottom: 15vw;
  height: 100%;
}
.card__main{
  background-color: bisque;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 1.5%;
  padding-bottom: 7%;
  height: auto;
  margin-bottom: 20px;
}
.pokemon{
  width: 50%;
  position: relative;
  bottom: 16vw;
}
.poke__data{
  position: absolute;
  bottom: 17%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 95%;
  height: 44%;
}
.height{
  grid-area: 1/1/2/2;
  font-size: calc( 1px + 3vw );
}
.height-data,
.weight-data{
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: calc( 6px + 2vw );
}
.weight{
  grid-area: 1/2/2/3;
  font-size: calc( 1px + 3vw );
}
.weight p,
.height p{
  font-family: 'Lato', sans-serif;
}

.name{
  grid-area: 2/1/3/3;
  font-size: calc( 4px + 3vw );
  font-family: 'Cormorant SC', serif;
}

.name::after{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  width: 35%;
  height: 1px;
  right: 0px;
  bottom: 29%
}
.name::before{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  width: 35%;
  height: 1px;
  left: 0px;
  bottom: 29%;
}

.id{
  grid-area: 3/1/4/3;
  font-size: calc( 1px + 2vw );
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}
.types{
  background-color: bisque;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display:flex;
  flex-direction: column;
  gap: 5%;
  height: auto;
  padding-top: 1%;
  border-radius: 1%;
  /* padding-bottom: 2%; */
}
.types > h3{
  font-family: monospace;
}
.types > h3::after,
.baseStats > h3::after{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  display: block;
  width: 42%;
  height: 1px;
  right: 2.5%;
  top: 20%;
}
.types > h3::before,
.baseStats > h3::before{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  display: block;
  width: 42%;
  height: 1px;
  left: 2.5%;
  top: 20%;
}


.typeName{
  border-radius: 25px;
  color: #fff;
  padding: .3em;
  font-family: 'Cormorant SC', serif;
  text-shadow:  1px 1px  10px  rgb(0, 0, 0);
  height: calc(11px + 3vw);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.abilities{
  background-color: bisque;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display:flex;
  flex-direction: column;
  gap: 5%;
  padding-top: 1%;
  border-radius: 1%;
  height: auto;
}
.abilities > h3{
  font-family: monospace;
}
.abilities > h3::after{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  display: block;
  width: 42%;
  height: 1px;
  right: 2.5%;
  top: 20%;
}
.abilities > h3::before{
  content: '';
  position: absolute;
  background-color: rgba(169, 169, 169, 0.409);
  display: block;
  width: 42%;
  height: 1px;
  left: 2.5%;
  top: 20%;
}

.ability__name{
  border-radius: 25px;
  color: #000;
  padding: 1%;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border: 1px solid rgba(34,36,38,.15);
  font-family: 'Cormorant SC', serif;
  height: calc(11px + 3vw);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.baseStats{
  background-color: bisque;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display:flex;
  flex-direction: column;
  gap: 3%;
  height: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  border-radius: 1%;
  margin-bottom: 100px ;
}
.orbitron{
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}
.monospace{
  font-family: monospace;
}
.lato{
  font-family: 'Lato', sans-serif;
}
.cormorant{
  font-family: 'Cormorant SC', serif;
}

/* .progress{
  position: relative;
  border: 1px solid cyan;
  border-radius: 20px;
} */
.progress{
  position: relative;
  width: 0;
  height: 8px;
  background: transparent;
  border-radius: 10px;
  animation: filling 5s forwards;
}
@keyframes filling {
   100%{width: 100%;} 
}
/* .progress{
  background-color: rgb(155, 21, 21);
  height: 10px;
  width: 60%;
}
.progress-bar{
  background-color: rgb(33, 206, 59);
} */

.number{
  text-align: right;
  margin-right: 5px;
  font-size: calc(2px + 2vw)
}
.progress{
  background-color: rgb(255, 255, 255);
  height: calc(5px + 3vw); 
}
.progress-bar{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient( 90deg, rgb(46, 161, 152), rgb(28, 17, 17));
  font-size: calc(5px + 2vw);
}
.stat_name{
  margin-left: 5px;
  font-family: 'Cormorant SC', serif;
  font-weight: 600;
}